@import '../../style/colors.css';

.wrapper {
    width: 60%;
    height: 220px;
    grid-area: user-card;
    justify-self: center;
    margin: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    background: var(--background);
    color: var(--text);
    border-radius: 4px;
}

.wrapper > img {
    width: 150px;
    height: 150px;
}

.username-wrapper {
    width: 70%;
    margin-left: 1rem;
}

  h1{
    color: white;
    display: inline;
}

a {
    margin-left: 0.3rem;
    text-decoration: none;
    color: inherit;
    font-size: 1.3rem;
}

a:hover {
    color: white;
}

.username-info {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
}

.username-info > img {
    margin-left: 0.5rem;
}

.name-location-followers {
    min-width: 250px;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
}
p {
    margin: 0.3rem;
}
.username-wrapper > p {
    margin: 0.4rem;
    display: inline-block;
}


p > svg {
    font-size: 1.1rem;
    color: var(--icon)
}

@media screen and (max-width: 1000px){
    .wrapper {
        min-width: 500px;
        width: 70%;
    }
}
