.stats-wrapper {
    width: 250px;
    padding: 0.7rem;
    background: #2e2d2b;
    border-radius: 4px;
    grid-column: -2 / -1;
    justify-self: end;
    margin: 1rem 0.5rem;
}

.stats-wrapper > p{
    width: 85%;
    margin: 0.7rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text);
    font-size: 1.1rem;
    font-weight: 600;

}

.stats-wrapper p > svg {
    font-size: 1.5rem;
    color: var(--text);
}