.button {
    cursor: pointer;
    display: block;
    margin: 0.5rem auto;
    min-width: 110px;
    padding: 0.7rem;
    border: 2px solid transparent;
    border-radius: 1.3rem;
    font-size: 1.2rem;
    background: #7FA650;
    color: white;
  }
  
  .button:hover {
    background: none;
    border: 2px solid #ccc;
  }
  
  @media screen and (max-width: 750px) {
    .button {
      font-size: 1.1rem;
    }
  }